<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/afef7a3e-5f1c-4f7d-b3da-ef68f248c9e5/dde9xog-e2034daf-0c7d-4d0a-839c-5c5954c81222.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FmZWY3YTNlLTVmMWMtNGY3ZC1iM2RhLWVmNjhmMjQ4YzllNVwvZGRlOXhvZy1lMjAzNGRhZi0wYzdkLTRkMGEtODM5Yy01YzU5NTRjODEyMjIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.yUzcbJNjExHhGaKwEi4HWQHmXUazE7sC2eaPwvSTj98" alt="" height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum fugit sint consequatur repellat facilis
        reprehenderit officia amet molestias tempore incidunt eum perspiciatis, odio aut saepe voluptate quae ut
        obcaecati odit.
        lorem
      </a>
    </p>
  </div>
</div>
